@model ResultArticleWithRelationsByIdDto;
<section id="blog-details" class="blog-details section">
    <div class="container">

        <article class="article">

            <div class="post-img">
                <img src="@Model.ImageUrl" alt="" class="img-fluid">
            </div>

            <h2 class="title">@Model.Header</h2>

            <div class="meta-top">
                <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">@Model.Author</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="@Model.CreatedDate">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">@Model.CommentCount</a></li>
                </ul>
            </div>

            <div class="content">
                <p>@Model.Summary</p>

                @foreach (var item in @Model.ArticleDetailWithRelations.ArticleContents)
                {
                    if (item.Type.ToLower() == "blackquote")
                    {
                        <blockquote>
                            <p>@item.Data</p>
                        </blockquote>
                    }
                    else if (item.Type.ToLower() == "ImageUrl")
                    {
                        <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
                    }
                    else if (item.Type.ToLower() == "Header")
                    {
                        <h3>@item.Data</h3>
                    }
                    else if (item.Type.ToLower() == "Text")
                    {
                        <p>@item.Data</p>
                    }
                }
            </div>

            <div class="meta-bottom">
                <i class="bi bi-tags"></i>
                <ul class="tags">
                    @foreach (var item in @Model.ArticleDetailWithRelations.Tags)
                    {
                        <li><a href="#">@item.Name</a></li>
                    }
                    
                </ul>
            </div>

        </article>

    </div>
</section>