@model ICollection<ResultArticleCommentByIdDto>;
@{
    var groupedComments = Model
        .GroupBy(c => c.ParentCommentId ?? -1)
        .ToDictionary(g => g.Key, g => g.ToList());
}


<section id="blog-comments" class="blog-comments section">

    <div class="container">

        <h4 class="comments-count">8 Comments</h4>

        @foreach (var item in groupedComments.Where(g => g.Key == -1).SelectMany(g => g.Value))
        {
            <div id="@item.ArticleCommentId" class="comment">
                <div class="d-flex">
                    <div class="comment-img"><img src="@item.ProfilePhotoUrl" alt=""></div>
                    <div>
                        <h5><a href="#">@item.Name</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="@item.CreatedDate.ToString("yyyy-MM-dd")">@item.CreatedDate.ToString("dd MMM, yyyy")</time>
                        <p>@item.Content</p>
                    </div>
                </div>

                @if (groupedComments.ContainsKey(item.ArticleCommentId))
                {
                    <div class="comment-reply">
                        @foreach (var reply in groupedComments[item.ArticleCommentId])
                        {
                            <div id="@reply.ArticleCommentId" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img"><img src="@reply.ProfilePhotoUrl" alt=""></div>
                                    <div>
                                        <h5><a href="#">@reply.Name</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                                        <time datetime="@reply.CreatedDate.ToString("yyyy-MM-dd")">@reply.CreatedDate.ToString("dd MMM, yyyy")</time>
                                        <p>@reply.Content</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }

    </div>

</section><!-- /Blog Comments Section -->
