@model ICollection<ResultArticleDto>;
<section id="blog-posts" class="blog-posts section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-12">
                @foreach (var item in @Model)
                {
                    <article>

                        <div class="post-img">
                            <img src="@item.ImageUrl" alt="" class="img-fluid">
                        </div>

                        <h2 class="title">
                            <a href="@($"blogdetail/index/{item.ArticleId}")">@item.Header</a>
                        </h2>

                        <div class="meta-top">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="@($"blogdetail/index/{item.ArticleId}")">@item.Author</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="@($"blogdetail/index/{item.ArticleId}")"><time datetime="2022-01-01">@item.CreatedDate</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="@($"blogdetail/index/{item.ArticleId}")">@item.CommentCount</a></li>
                            </ul>
                        </div>

                        <div class="content">
                            <p>@item.Summary</p>

                            <div class="read-more">
                                <a href="@($"blogdetail/index/{item.ArticleId}")">Read More</a>
                            </div>
                        </div>

                    </article>
                }
            </div>

        </div>

    </div>

</section>