@model ICollection<ResultMembershipWithRelationsDto>;
<section id="pricing" class="pricing section">

    <div class="container">
        <div class="row gy-3">
            @foreach (var item in @Model)
            {
                <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="pricing-item">
                        <h3>@item.Title</h3>
                        <h4><sup>$</sup>@item.Price<span> / @item.Level</span></h4>
                        <ul>
                            @foreach (var i in item.Engagements)
                            {
                                <li class="@(i.IsActive ? "" : "na")">@i.Description</li>
                            }
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>