@model ResultMentorWithRelationsByIdDto;
@{
    int count = 0;
}
    <section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up">

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="@Model.PhotoPath" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">Neque officiis dolore maiores et exercitationem quae est seda lidera pat claero</h3>
                <ul class="nav nav-pills mb-3">
                    @foreach (var item in Model.MentorContents)
                    {
                        count++;
                        <li><a class="nav-link @(count == 1 ? "active" : "")" data-bs-toggle="pill" href="@("#about-2-tab" + count)">@item.Header</a></li>
                    }
                </ul>


            <div class="tab-content">

                @{
                    count = 0;
                }
                @foreach (var item in Model.MentorContents) 
                {
                        count++;
                        <div class="tab-pane fade @(count == 1 ? "active" : "")" id="@("about-2-tab" + count)">

                        <p class="fst-italic">@item.Summary</p>
                        @foreach (var i in item.Subsections)
                        {
                            <div class="d-flex align-items-center mt-4">
                                <i class="bi bi-check2"></i>
                                <h4>@i.Header</h4>
                            </div>
                            <p>@i.Description</p>
                        }
                        
                    </div>
                    }
            </div>

          </div>

        </div>

      </div>

    </section>